<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
  <meta charset="UTF-8" />
  <title>Expense Tracker</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link th:href="@{/css/general.css}" type="text/css" rel="stylesheet">
</head>
<body>
<header th:fragment="header(username)">
  <h1>Expense Tracker app</h1>
  <div th:if="${username}" class="userHeader">
    <b th:text="${username}"></b>
    <button>Salir</button>
  </div>
</header>
<nav th:fragment="navbar" class="navbar">
  <div>This is a navbar</div>
  <ul>
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/about}">about</a></li>
    <li><a th:href="@{/login}">Login</a></li>
    <li><a th:href="@{/user/register}">Register</a></li>
  </ul>
</nav>
<main th:fragment="about" class="about">
  <h2>Welcome!</h2>
  <h3>this is an app where you can stay up with your expenses and cover your budget...</h3>
  <p>Please <a th:href="@{/login}">Log in</a> to start or <a th:href="@{/user/register}">Register account</a></p>
    <p>This is a part of a final educational project about Java Backend development for "Henry" teaching school</p>
  <p>Author: Gustavo Paz</p>
</main>
<aside th:fragment="sidebar" class="sidebar">
  <ul>
    <li>Expense
      <ul>
        <li><a th:href="@{/user/dashboard}">List all</a></li>
        <li><a th:href="@{/expense/register}">New</a></li>
      </ul>
    </li>
    <li>Suppliers
      <ul>
        <li><a th:href="@{/supplier}">List all</a></li>
        <li><a th:href="@{/supplier/register}">New</a></li>
      </ul>
    </li>
    <li>Categories
      <ul>
        <li><a th:href="@{/category}">List all</a></li>
        <li><a th:href="@{/category/register}">New</a></li>
      </ul>
    </li>
    <li>Payments
      <ul>
        <li><a th:href="@{/payments}">List all</a></li>
        <li><a th:href="@{/categories/register}">New</a></li>
      </ul>
    </li>

  </ul>
</aside>

<p th:fragment="error">
  <h2>Error not Found</h2>
</p>

<footer th:fragment="footer">
  <hr>
  <span>
    <a th:href="@{/}">Home</a> |
    <a th:href="@{/about}">About</a> |
    <a th:href="@{/faq}">FAQ</a> |
    <b>Expense Tracker Team 2024-2025 all rights reserved</b>
  </span>
</footer>
</body>
</html>