<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
  <script href=""></script>
</head>
<body>
<header th:replace="~{fragments/general.html :: header(username=${username})}"></header>
<hr>
<aside th:replace="~{fragments/general.html :: navbar}"></aside>
<div>
  <h2>Log in</h2>
  <form id="loginForm" method="POST" action="/login" novalidate enctype="application/json">
    <fieldset>
      <legend>Formulario Login</legend>
      <label for="loginEmail">Email:</label>
      <input id="loginEmail" type="text" name="email" th:value="${email}"/>
      <label for="loginPass">Contraseña:</label>
      <input id="loginPass" type="password" name="password" th:value="${password}"/>
    </fieldset>
    <p th:if="${errorlogin}">
      <small class="errorValidation" th:text="${errorlogin}"></small>
    </p>
    <input type="submit"/>
  </form>
</div>
<div th:replace="~{fragments/general.html :: footer}"></div>
</body>
</html>