<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<body>
<header th:replace="~{fragments/general.html :: header(username=${username})}"></header>
<hr>
<aside th:replace="~{fragments/general.html :: navbar}"></aside>
<div class="register">
    <h2>Register new User</h2>
    <form class="registerUser" action="/user/register" method="POST">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" th:value="${username}"/>
        <label for="email">Email</label>
        <input id="email" type="text" name="email" th:value="${email}"/>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" th:value="${password}"/>
        <label for="country">Country:</label>
        <select id="country" name="country">
            <option th:each="country : ${countries}" th:value="${country.cca2}" th:text="${country.name.common}" th:selected="${country.cca2 == userRequestDto?.country}"></option>
        </select>
        <label for="currency">Prefered currency:</label>
        <select id="currency" name="currency">
            <option th:each="currency : ${currencies}" th:value="${currency}" th:text="${currency}"></option>
        </select>
        <p th:if="${errorRegister}">
            <small class="errorValidation" th:text="${errorRegister}"></small>
        </p>
        <input type="submit">
    </form>
</div>
<div th:replace="~{fragments/general.html :: footer}"></div>
</body>
</html>